*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body{
    
}
 

b{
    background-color: burlywood;
    border: 1px solid black;
}
div{
    display:inline-block;
    margin: 0 auto;
    width: 500px;
    border: 1px solid black;
}